Package: agnos-display
Version: 0.0.2
Section:
Priority: optional
Architecture: arm64
Depends:
Replaces:
Installed-Size: 160088
Maintainer: Robbe Derks robbe@comma.ai
Description: AGNOS display stuff
